
<div class="modal fade" id="DJ_in">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Enter DJ room name</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				
			</button>
		</div>
		<div class="modal-body">
			<h3>Please enter your room name (No space allow!)</h3>
			<input id="room_text" value="My-Room"></input><span id="warn"></span>
		</div>
		<div class="modal-footer">
			<button type="button" id="room_name" class="btn btn-primary">Launch My Room!</button>
			<a href='/'><button type="button" class="btn btn-secondary">Later...</button></a>
		</div>
		</div>
	</div>
</div>



 <div class ="login_div">
         <h2 class ="size30">
         <a href="/">HOME</a> 
         <a href="/logout">LOG OUT</a>
        </h2>
    </div>

<br>

<div>
        <h1>WELCOME TO YOUR DJ PAGE: </h1><br>
        <h2 class ="normal">Create your DJ room now! </h2> <br>
        <p class ="info">Your account info: ID: {{ user.id }}</p>
        <p class="info">Profile: <a href="{{user.profileUrl}}">{{ user.profileUrl }}</a></p>
        <h6 id=error></h6>
        <br>
</div>
<br>

<div class='flex'>
    <div id='control'>    
       <br>
        <p>Step 1: Create your DJ playlist now!</p>
        {{!-- action refers to route name  --}}
        <form action="createplaylist" method="post"> 
            {{!-- playlist_name goes after 'req.body' --}}
            <input id="playlist_creation" type="text" name="playlist_name" placeholder="name your playlist" />
            <input id="name_submission" type="submit" name="create" value="CREATE">
        </form>
        <h3 id="error_name"></h3>
        <br>
        <br>
        <p>Step 2: Search track and add track to your playlist!</p>
        {{!-- <form action="searchtrack" class="searching" method="post"> --}}
         <input class ="initial_search" type="text" name="search_track" placeholder="search for track" />
         <button id='search_btn' ><h4 class="searchbtn">SEARCH</h4></button>
        {{!-- <input type="submit" name="search" value="search"> --}}
        {{!-- </form> --}}

       
    </div>
    

    <div id="control">
           <br>
            <p>Step 3: click below to add tracks</p> 

            <div class ="result">      
                 {{#each songlist}}

        {{!--anotherway to use form  <form action="addtrack" method="post">
            <input type="text" name="song_name" placeholder="search for track" />
            <input type="submit" name="search" value="search">
        </form> --}}
                       {{!-- <span>
                            {{name}} {{uri}} 
                            <br>{{song_id}}
                        </span> --}}
                        {{!-- <button class="song" value="{{uri}}">add</button> --}}
                {{/each}}
                
            </div>

     </div>

     <div id='control'>
        <div id ="playlist">
        
        <div id = "named_playlist"></div>
        {{!-- <h4>YOUR PLAYLIST NAME:{{name}}</h4> --}}
        <br>
        <p>Your selected songs are shown below</p>
        
        <h5 id="list_of_songs"></h5>
      
        </div>
    </div>

    <div id='control'>
        <br>
        <p>Step 4: Now you can control your song!</p><br>
        <button id=play_button><p>RESUME</p></button> <br>
        <button id=pause_button><p>PAUSE</p></button><br>
        <button id=sync_dj><p>SYNC DJ</p></button> <br>
        <button id=sync_party><p>SYNC Party</p></button> <br>

        <div id= "socket"> </div>

        
         {{!-- <form action="seek" method="post"> --}}
          <input class ="seeking" type="text" name="seek_position" placeholder="enter time in milisecond" />
            {{!-- </form> --}}
          <button id='seekposition_btn' ><p>SEEK POSITION</p></button>
          <p>Your song is now playing at </p> <p id= "search_result"> {{position}} </p> <p>miliseconds</p>
            
    </div>    

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> --}}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>

<script>
    //define socket io at the begining
    var socket;

    $(document).ready(() => {
      $('#DJ_in').modal({
        backdrop: 'static',
        keyboard: false,
        show: true
      })

      var room_title; //setup room name
      $('#room_name').on('click', () => {
        if ($('#room_text').val() != '') {
          room_title = $('#room_text').val();
          console.log(room_title)
          $('#DJ_in').modal('hide');
          
          //start the socket after confirmed
          socket = io('/djroom');
          socket.emit('new room', room_title, "sportify");

        } else {
          $('#warn').css('color', 'red').text('Please enter a room name')

        }
      })

      
    })
  </script>

   <script src="script.js"></script>

{{!-- <script src="./sf_dj_socket.js"></script> --}}