{{!-- This is the first page people see after login--}}

<div class="row text-center">
    
    <div class ="login_div">
         <h2 class ="size30">
         <a href="/">HOME</a> 
         <a href="/logout">LOG OUT</a>
        </h2>
    </div>


</div>

<div class="row text-center">
    <h2 class="normal">This is DJ list</h2>
    <h2 class="normal">Choose if you want to be a DJ or just join a party </h2>
    <div class="row" style = "min-height:75px;padding: 50px,10px;color:chocolate">
	
		
		{{#sp}}
		<div class="col-xs-12 col-sm-4">
            <div class="row text-center">
                <a href="/dj/{{this.[0]}}">
                    <img src = 'spotify-logo.png'; width = '150px';>
                </a>
            </div>
            <div class="row text-center">
                 <h4 class="normal">Room: {{this.[0]}}, DJ: {{this.[1]}}</a></h4>
            </div>
        </div>
		{{/sp}}
        {{#yt}}
		
        <div class="col-xs-12 col-sm-4">
            <div class="row text-center">
               youtube video
            </div>
            <div class="row text-center">
                <h4 style="{color:white}"><a href="/dj/{{this.[0]}}">Room: {{this.[0]}}, DJ: {{this.[1]}}</a></h4>
            </div>
        </div>
		{{/yt}}
        
    </div>
    
	<div class="row">
        <br>
        <br>
        <br>
        <br>
        <h3 class="djbutton">CLICK BELOW TO BECOME DJ!</h3>
        <br>
    	<a href="/account"><img src ="dj.png" width="200px"></a>
        
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
